html,
body,
#contanier,
#subcontainer {
    height: 100%;
}

#left-section,
#right-section {
    box-sizing: border-box;
    height: 100%;
}

#left-section {
    background: #fff url("../image/travel_africa_background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content-left-section {
    box-sizing: border-box;
}

#logo {
    margin-left: 50px;
    margin-top: 20px;
}

#main_tittle {
    position: absolute;
    bottom: 50px;
    width: 450px;
    left: 50px;
}

#main_tittle h1 {
    font-size: 80px;
    color: #fff;
    text-transform: capitalize;
}

#right-section a {
    text-decoration: none;
    color: #A4A4A4;
}

#content-right-section {
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 90%;
}

#mainMenu ul {
    margin-top: 20px;
    padding-left: 0;
}

#mainMenu ul li {
    display: inline-block;
    padding-right: 30px;
    padding-top: 12px;
}

#mainMenu ul li:last-child {
    position: absolute;
    padding-top: 0;
    right: 0;
}

.no-account {
    font-weight: bold;
}

.signup {
    color: #E33323 !important;
    font-weight: bold;
}

#login-section {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#login-with-social {}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.ico-social {
    text-decoration: none;
    color: #A4A4A4;
    font-size: 14px;
}

.ico-social:hover {
    color: #A4A4A4;
    text-decoration: none;
}

.ico-social img {
    padding-right: 10px;
}

.ico-facebook::before {
    /* content: url("../image/logo-facebook.svg");
    display: inline;
    position: relative;
    bottom: -8px; */
}

.ls-line-md {
    border-bottom: 1px solid #A4A4A4;
    width: 160px;
}

.ls-or {
    top: 10px;
    text-align: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label span {}

.signin {
    background-color: #E33323 !important;
    border-color: #E33323;
    color: #fff;
}

.signin:hover {}


/* LANDING PAGE */

.bg-landing {
    background: url("../image/bg-landing.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#info-landing {
    padding-top: 20%;
    padding-left: 10%;
    position: relative;
    color: white;
}

#landing-title,
#landing-description {
    width: 400px;
}

#landing-title h1 {
    font-size: 80px !important;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#landing-title ul {
    padding: 50px 0 0 5px;
}

#landing-title ul li {
    display: inline;
    margin-right: 20px;
}

#landing-title ul li a {
    color: white;
    width: 150px;
}

.info-landing-last-child {
    position: absolute;
    right: 0;
}

.info-landing-last-child ul li {
    display: block;
    padding: 20px 50px;
}

#landing-description a {
    color: white;
    padding-bottom: 50px;
}

#landing-description a img {
    padding-right: 20px;
}

#footer-section {
    position: absolute;
    bottom: 0;
}

#footer-section * {
    color: white;
}

#footer-section table thead {
    font-size: 12px;
}

#footer-section table tbody {
    font-size: 42px;
    font-weight: bold;
}

#footer-section table {
    border-spacing: 30px 30px;
}

.padding-80 {
    padding-bottom: 80px;
}